<launch>
  <node
    name="setpoint_processing"
    pkg="uranus_dp"
    type="setpoint_processing"
    output="screen"
  />
  <node
    name="controller"
    pkg="uranus_dp"
    type="controller"
    output="screen"
  />
  <node
    name="allocator"
    pkg="uranus_dp"
    type="allocator"
    output="screen"
  />
  <node
    name="imuintegrationfilter_node"
    pkg="imuintegrationfilter"
    type="imuintegrationfilter_node"
    launch-prefix="sudo -E"
    output="screen"
  />
</launch>