<launch>
  <rosparam command="load" file="$(find uranus_dp)/config/robots/maelstrom.yaml"/>
  <rosparam command="load" file="$(find uranus_dp)/config/environments/trondheim_freshwater.yaml"/>
  <rosparam command="load" file="$(find motor_interface)/config/thruster_T100.yaml"/>

  <node name="setpoint_processing" pkg="uranus_dp" type="setpoint_processing" output="screen"/>
  <node name="controller"          pkg="uranus_dp" type="controller"          output="screen"/>
  <node name="allocator"           pkg="uranus_dp" type="allocator"           output="screen"/>
  <node name="estimator"           pkg="uranus_dp" type="estimator"           output="screen"/>
</launch>
