<launch>
  <rosparam command="load" file="$(find motor_interface)/config/thruster_T100.yaml" />
  <rosparam command="load" file="$(find uranus_dp)/config/robots/maelstrom.yaml" />
  <param name="motor_interface/motor_connection_enabled" type="bool" value="true" />
  <param name="motor_interface/rate_limiting_enabled" type="bool" value="false" />
  <node name="motor_interface" pkg="motor_interface" type="motor_interface.py" output="screen" />
</launch>
