<launch>
  <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${time}] [${node}]: ${message}" />

  <rosparam command="load" file="$(find vortex)/config/robots/terrapin.yaml"/>
  <rosparam command="load" file="$(find thruster_interface)/config/thruster_terrapin.yaml" />
  <rosparam command="load" file="$(find vortex)/config/environments/trondheim_freshwater.yaml"/>

  <param name="thruster_interface/thrusters_connected"   type="bool" value="true"/>
  <param name="thruster_interface/rate_limiting_enabled" type="bool" value="false"/>

  <node pkg="light"                 name="light"                 type="light_node.py"              output="screen"/>
  <node pkg="camera_selection"      name="camera_selection"      type="camera_selection.py"        output="screen"/>
  <node pkg="manipulator_interface" name="manipulator_interface" type="manipulator_interface.py"   output="screen"/>

  <node pkg="pwm_interface"    name="pwm_interface"    type="pca9685_interface.py" output="screen" respawn="true"/>
  <node pkg="sensor_interface" name="bno055_interface" type="bno055_interface.py"  output="screen" respawn="true"/>
  <node pkg="sensor_interface" name="pressure_node"    type="ms5837_interface.py"  output="screen" respawn="true"/>
</launch>
