<launch>
  <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${time}] [${node}]: ${message}"/>

  <rosparam command="load" file="$(find vortex)/config/robots/terrapin.yaml"/>
  <rosparam command="load" file="$(find vortex)/config/environments/trondheim_freshwater.yaml"/>
  <rosparam command="load" file="$(find thruster_interface)/config/thruster_terrapin.yaml"/>

  <node pkg="thruster_interface"    name="thruster_interface"    type="thruster_interface_node.py" output="screen"/>

  <node pkg="vortex_controller" type="node" name="controller" output="screen"/>
  <node pkg="vortex_allocator"  type="node" name="allocator"  output="screen"/>
  <node pkg="vortex_estimator"  type="node" name="estimator"  output="screen"/>

  <include file="$(find joystick_interface)/launch/joystick_interface.launch" />
</launch>
